.Stack {
  position: absolute;
  top: var(--stack-top);
  left: var(--stack-left);
  z-index: 1;
  /*unselectable*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
